# Series Veri Yapısı

In [1]:
import pandas as pd

In [2]:
abc = pd.Series([18,"Ali",3.94,"Veli"])

In [3]:
abc

0      18
1     Ali
2    3.94
3    Veli
dtype: object

In [4]:
abc[3]

'Veli'

In [6]:
abc.values

array([18, 'Ali', 3.94, 'Veli'], dtype=object)

In [7]:
abc = pd.Series([18,"Ali",3.94,"Veli"], index=["x","y","z","t"])
abc

x      18
y     Ali
z    3.94
t    Veli
dtype: object

In [9]:
abc["x"]

18

In [10]:
abc.index

Index(['x', 'y', 'z', 't'], dtype='object')

In [36]:
# Liste, tuple, Sözlük tipindeki veri yapıları Series Veri yapısına dönüştürülebilir.

fiyatlar = {"Kazak": 350, "Pantolon": 600, "Gömlek": 400, "tişört": 150}
sozlukseries = pd.Series(fiyatlar)

In [30]:
sozlukseries

Kazak       350
Pantolon    600
Gömlek      400
tişört      150
dtype: int64

In [31]:
sozlukseries["Kazak"]

350

In [32]:
sozlukseries[sozlukseries>300]

Kazak       350
Pantolon    600
Gömlek      400
dtype: int64

In [33]:
sozlukseries<300

Kazak       False
Pantolon    False
Gömlek      False
tişört       True
dtype: bool

In [34]:
sozlukseries["Kazak"] = 135

In [35]:
sozlukseries

Kazak       135
Pantolon    600
Gömlek      400
tişört      150
dtype: int64

In [37]:
sr = pd.Series([12,15,40,60])
sr

0    12
1    15
2    40
3    60
dtype: int64

In [38]:
sr *2

0     24
1     30
2     80
3    120
dtype: int64

In [39]:
sr ** 2

0     144
1     225
2    1600
3    3600
dtype: int64

In [41]:
sr / 2

0     6.0
1     7.5
2    20.0
3    30.0
dtype: float64

In [42]:
sr.isnull() #eksik veri olup olmadığını kontrol eder.

0    False
1    False
2    False
3    False
dtype: bool

# DataFrame Veri Yapısı

In [44]:
dtfrm = {"urun_kategori":["Kıyafet","Kozmetik","Temizlik","elektronik","bahce ürünleri","ayakkabı","mobilya"],
        "fıyatlar": [105,250,400,1200,3650,800,32000],
        "urun_adi":["Kazak","Parfüm","Deterjan","Telefon","Hortum","Spor ayakkabı","Koltuk"]}
df = pd.DataFrame(dtfrm)
df

    urun_kategori  fıyatlar       urun_adi
0         Kıyafet       105          Kazak
1        Kozmetik       250         Parfüm
2        Temizlik       400       Deterjan
3      elektronik      1200        Telefon
4  bahce ürünleri      3650         Hortum
5        ayakkabı       800  Spor ayakkabı
6         mobilya     32000         Koltuk

In [47]:
df.head()

    urun_kategori  fıyatlar  urun_adi
0         Kıyafet       105     Kazak
1        Kozmetik       250    Parfüm
2        Temizlik       400  Deterjan
3      elektronik      1200   Telefon
4  bahce ürünleri      3650    Hortum

In [49]:
df.tail(2)

  urun_kategori  fıyatlar       urun_adi
5      ayakkabı       800  Spor ayakkabı
6       mobilya     32000         Koltuk

In [61]:
df=pd.DataFrame(dtfrm, columns=["urun_kategori","urun_adi","fıyatlar","urun_miktari"],
               index=["bir","iki","uc","dort","bes","alti","yedi"])

In [62]:
df

       urun_kategori       urun_adi  fıyatlar urun_miktari
bir          Kıyafet          Kazak       105          NaN
iki         Kozmetik         Parfüm       250          NaN
uc          Temizlik       Deterjan       400          NaN
dort      elektronik        Telefon      1200          NaN
bes   bahce ürünleri         Hortum      3650          NaN
alti        ayakkabı  Spor ayakkabı       800          NaN
yedi         mobilya         Koltuk     32000          NaN

In [63]:
df["urun_adi"]

bir             Kazak
iki            Parfüm
uc           Deterjan
dort          Telefon
bes            Hortum
alti    Spor ayakkabı
yedi           Koltuk
Name: urun_adi, dtype: object

In [64]:
sutunlarım=["urun_adi","fıyatlar"]

In [65]:
df[sutunlarım]

           urun_adi  fıyatlar
bir           Kazak       105
iki          Parfüm       250
uc         Deterjan       400
dort        Telefon      1200
bes          Hortum      3650
alti  Spor ayakkabı       800
yedi         Koltuk     32000

In [68]:
df.fıyatlar

bir       105
iki       250
uc        400
dort     1200
bes      3650
alti      800
yedi    32000
Name: fıyatlar, dtype: int64

In [71]:
pd.__version__

'2.0.2'

In [72]:
veriler=[385,160,1200,800,900,4000,30]
df["urun_miktari"]=veriler
df

       urun_kategori       urun_adi  fıyatlar  urun_miktari
bir          Kıyafet          Kazak       105           385
iki         Kozmetik         Parfüm       250           160
uc          Temizlik       Deterjan       400          1200
dort      elektronik        Telefon      1200           800
bes   bahce ürünleri         Hortum      3650           900
alti        ayakkabı  Spor ayakkabı       800          4000
yedi         mobilya         Koltuk     32000            30

In [73]:
df["indirim"]=df.fıyatlar>1000
df

       urun_kategori       urun_adi  fıyatlar  urun_miktari  indirim
bir          Kıyafet          Kazak       105           385    False
iki         Kozmetik         Parfüm       250           160    False
uc          Temizlik       Deterjan       400          1200    False
dort      elektronik        Telefon      1200           800     True
bes   bahce ürünleri         Hortum      3650           900     True
alti        ayakkabı  Spor ayakkabı       800          4000    False
yedi         mobilya         Koltuk     32000            30     True

In [76]:
del df["indirim"] #sutun silme

KeyError: 'indirim'

In [75]:
df

       urun_kategori       urun_adi  fıyatlar  urun_miktari
bir          Kıyafet          Kazak       105           385
iki         Kozmetik         Parfüm       250           160
uc          Temizlik       Deterjan       400          1200
dort      elektronik        Telefon      1200           800
bes   bahce ürünleri         Hortum      3650           900
alti        ayakkabı  Spor ayakkabı       800          4000
yedi         mobilya         Koltuk     32000            30

## Seçme - Filtreleme

In [77]:
import numpy as np

In [78]:
asd = pd.Series(np.arange(5), index=["a","b","c","d","e"])
asd

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [79]:
asd["c"]

2

In [81]:
asd[3]

3

In [82]:
asd[0:3]

a    0
b    1
c    2
dtype: int32

In [83]:
asd[["a","c"]]

a    0
c    2
dtype: int32

In [84]:
asd[[0,2]]

a    0
c    2
dtype: int32

In [85]:
asd[asd<2]

a    0
b    1
dtype: int32

In [86]:
asd["a":"c"]

a    0
b    1
c    2
dtype: int32

In [87]:
asd["b":"c"]=8

In [88]:
asd

a    0
b    8
c    8
d    3
e    4
dtype: int32

In [89]:
dtf = pd.DataFrame(np.arange(16).reshape(4,4),index=["Malatya","Ankara","Elazığ","Istanbul"],
                  columns=["bir","iki","uc","dort"])

In [90]:
dtf

          bir  iki  uc  dort
Malatya     0    1   2     3
Ankara      4    5   6     7
Elazığ      8    9  10    11
Istanbul   12   13  14    15

In [91]:
dtf["iki"]

Malatya      1
Ankara       5
Elazığ       9
Istanbul    13
Name: iki, dtype: int32

In [92]:
dtf[["bir","iki"]]

          bir  iki
Malatya     0    1
Ankara      4    5
Elazığ      8    9
Istanbul   12   13

In [93]:
dtf[:3]

         bir  iki  uc  dort
Malatya    0    1   2     3
Ankara     4    5   6     7
Elazığ     8    9  10    11

In [94]:
dtf[dtf["dort"]>5]

          bir  iki  uc  dort
Ankara      4    5   6     7
Elazığ      8    9  10    11
Istanbul   12   13  14    15

In [95]:
dtf[dtf<6]=23
dtf

          bir  iki  uc  dort
Malatya    23   23  23    23
Ankara     23   23   6     7
Elazığ      8    9  10    11
Istanbul   12   13  14    15

In [98]:
dtf.iloc[1] # iloc metodu sayısal veriler kullanarak indeksleme yapar.

bir     23
iki     23
uc       6
dort     7
Name: Ankara, dtype: int32

In [99]:
dtf.iloc[1,[1,2,3]]

iki     23
uc       6
dort     7
Name: Ankara, dtype: int32

In [100]:
dtf.iloc[[1,3],[1,2,3]]

          iki  uc  dort
Ankara     23   6     7
Istanbul   13  14    15

In [102]:
dtf.loc["Elazığ",["bir","iki"]] # etiket ismi kullanarak indeksleme işlemi gerçekleştirilir.

bir    8
iki    9
Name: Elazığ, dtype: int32

In [115]:
sr1=pd.Series(np.arange(5),index=["a","b","c","d","e"])

In [116]:
sr1

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [117]:
sr1[-1]

4